*~
\#*#
.#*
dbpedia*
papers/
target/
uima.log
db.sql
dump.xml
dependency-reduced-pom.xml
indented.xml
/client/build
/client/dist
/client/node_modules
/java/uima-corpus-creator/out/cas/
/java/uima-corpus-creator/out/res/fullTxt.xml
/java/uima-corpus-creator/out/res/filteredTxt.xml
/java/uima-corpus-creator/out/res/processed/
/java/uima-corpus-creator/out/res/tops/
/java/uima-evaluator/out
/java/uima-scorer/out
/server/conf/application.conf
/server/data/
/server/logs
/server/project/project
/server/project/target
/server/target
/slides/bower_components
/transducers
/uima-server/out
/docear
/report/auto
/report/*.aux
/report/*.fdb_latexmk
/report/*.fls
/report/*.log
/report/*.org
/report/*.pdf
/report/*.toc
/report/*.bbl
/report/*.bib.bak
/report/*.blg
/report/*.out