*~
dbpedia*
papers/
target/
cas/
cas-usage/
processed/
uima.log
db.sql
dump.xml
dependency-reduced-pom.xml
indented.xml
dict.xml
filtered.xml
/transducers
/server/conf/application.conf
/server/logs
/server/project/project
/server/project/target
/server/target
/client/build
/client/node_modules
