*~
\#*#
.#*
dbpedia*
papers/
target/
uima.log
db.sql
dump.xml
dependency-reduced-pom.xml
indented.xml
/client/build
/client/node_modules
/uima-corpus-creator/out/cas/
/uima-corpus-creator/out/cas-lm/
/uima-corpus-creator/out/cas-usage/
/uima-corpus-creator/out/cas-evaluation/
/uima-corpus-creator/out/lm/
/uima-corpus-creator/out/res/fullPos.xml
/uima-corpus-creator/out/res/fullTxt.xml
/uima-corpus-creator/out/res/filteredPos.xml
/uima-corpus-creator/out/res/filteredTxt.xml
/uima-corpus-creator/out/res/parts/
/uima-corpus-creator/out/res/processed/
/server/conf/application.conf
/server/data/
/server/logs
/server/project/project
/server/project/target
/server/target
/transducers
/uima-server/out
/docear
/report/auto
/report/*.aux
/report/*.fdb_latexmk
/report/*.fls
/report/*.log
/report/*.org
/report/*.pdf
/report/*.toc
/report/*.bbl
/report/*.bib.bak
/report/*.blg
/report/*.out