.tab-pane {
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    margin-top: -1px;
}

.tab-pane:focus {
    outline: 0;
}

.nav-tabs {
    border-bottom: 0px !important;
}

.nav-tabs > li > a:focus {
    outline: 0;
}

ul {
   margin: 0px;
}

body {
     font-family: 'Ubuntu', sans-serif;
}

.dropdown-menu > li {
     padding-left: 8px;
     padding-right: 3px;
}

.dropdown-header {
     color: black;
     background-color: #eeeeee;
     margin-bottom: 2px;
}