#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFFFFF;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 9001;
}

#loading {
    position: absolute;
    text-align: center;
    width: 400px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -200px;
}

.container {
    position: relative;
}

.settings {
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.tab-pane {
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    margin-top: -1px;
}

.tab-pane:focus {
    outline: 0;
}

.nav-tabs {
    border-bottom: 0px !important;
}

.nav-tabs > li > a:focus {
    outline: 0;
}

ul {
   margin: 0px;
}

body {
     font-family: 'Ubuntu', sans-serif;
}

.dropdown-menu {
     width: 200px;
}

.dropdown-menu > li {
     padding-left: 8px;
     padding-right: 3px;
}

.dropdown-header {
     color: black;
     background-color: #eeeeee;
     margin-bottom: 2px;
}