.reveal .slide-number {
    position: fixed;
    display: block;
    right: 15px;
    bottom: 15px;
    opacity: 0.8 !important;
    z-index: 31;
    font-size: 50px !important;
    color: black !important;
}

h1 {
    color: white !important;
}