.tab-pane {
    border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    margin-top: -1px;
}

.nav-tabs {
    border-bottom: 0px !important;
}

ul {
   margin: 0px;
}
